In [1]:
# Initial imports.
import pandas as pd
from path import Path
from collections import Counter
from sklearn.preprocessing import LabelEncoder
from sklearn import tree
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import balanced_accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Create connection to pgadmin
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:Lebezzer#1989!@localhost:5432/Job Changes')

In [3]:
from sqlalchemy import text

In [4]:
sql = text('DROP TABLE IF EXISTS public."Results";')
result = engine.execute(sql)

In [5]:
df_HR =pd.read_sql('SELECT * FROM public."Cleaned_Data"', engine)
df_HR

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.92,Male,Has relevent experience,no_enrollment,Graduate,STEM,21,50to99,Pvt Ltd,1,More,1
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50to99,Pvt Ltd,5,Between,0
2,11561,city_21,0.624,Other,No relevent experience,Full time course,Graduate,STEM,5,50to99,Pvt Ltd,0,Less,0
3,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,21,50to99,Funded Startup,4,More,0
4,21651,city_176,0.764,Other,Has relevent experience,Part time course,Graduate,STEM,11,50to99,Pvt Ltd,1,More,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18377,7386,city_173,0.878,Male,No relevent experience,no_enrollment,Graduate,Humanities,14,50to99,Pvt Ltd,1,More,1
18378,31398,city_103,0.92,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,50to99,Pvt Ltd,4,Between,1
18379,24576,city_103,0.92,Male,Has relevent experience,no_enrollment,Graduate,STEM,21,50to99,Pvt Ltd,4,More,0
18380,5756,city_65,0.802,Male,Has relevent experience,no_enrollment,High School,STEM,0,500to999,Pvt Ltd,2,Less,0
18381,23834,city_67,0.855,Other,No relevent experience,no_enrollment,Primary School,STEM,2,50to99,Pvt Ltd,1,Less,0

In [6]:
df_HR1= df_HR.drop(["enrollee_id", "enrolled_university", "city"], axis = 1)
df_HR1

,city_development_index,gender,relevent_experience,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,0.92,Male,Has relevent experience,Graduate,STEM,21,50to99,Pvt Ltd,1,More,1
1,0.776,Male,No relevent experience,Graduate,STEM,15,50to99,Pvt Ltd,5,Between,0
2,0.624,Other,No relevent experience,Graduate,STEM,5,50to99,Pvt Ltd,0,Less,0
3,0.767,Male,Has relevent experience,Masters,STEM,21,50to99,Funded Startup,4,More,0
4,0.764,Other,Has relevent experience,Graduate,STEM,11,50to99,Pvt Ltd,1,More,1
...,...,...,...,...,...,...,...,...,...,...,...
18377,0.878,Male,No relevent experience,Graduate,Humanities,14,50to99,Pvt Ltd,1,More,1
18378,0.92,Male,Has relevent experience,Graduate,STEM,14,50to99,Pvt Ltd,4,Between,1
18379,0.92,Male,Has relevent experience,Graduate,STEM,21,50to99,Pvt Ltd,4,More,0
18380,0.802,Male,Has relevent experience,High School,STEM,0,500to999,Pvt Ltd,2,Less,0
18381,0.855,Other,No relevent experience,Primary School,STEM,2,50to99,Pvt Ltd,1,Less,0

# Encoding

In [7]:
# Generate our categorical variable list
hr_cat = df_HR1.dtypes[df_HR1.dtypes == "object"].index.tolist()
hr_cat

['city_development_index',
 'gender',
 'relevent_experience',
 'education_level',
 'major_discipline',
 'company_size',
 'company_type',
 'training_hours']

In [8]:
# Check the number of unique values in each column
df_HR1[hr_cat].nunique()

city_development_index    93
gender                     3
relevent_experience        2
education_level            5
major_discipline           6
company_size               8
company_type               6
training_hours             3
dtype: int64

In [9]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df_HR1[hr_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names_out(hr_cat)
encode_df.head()

,city_development_index_0.448,city_development_index_0.479,city_development_index_0.487,city_development_index_0.493,city_development_index_0.512,city_development_index_0.516,city_development_index_0.518,city_development_index_0.527,city_development_index_0.55,city_development_index_0.555,...,company_size_less than10,company_type_Early Stage Startup,company_type_Funded Startup,company_type_NGO,company_type_Other,company_type_Public Sector,company_type_Pvt Ltd,training_hours_Between,training_hours_Less,training_hours_More
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [10]:
# Merge one-hot encoded features and drop the originals
df_HR1 = df_HR1.merge(encode_df,left_index=True, right_index=True)
df_HR1 = df_HR1.drop(hr_cat,1)
df_HR1

,experience,last_new_job,target,city_development_index_0.448,city_development_index_0.479,city_development_index_0.487,city_development_index_0.493,city_development_index_0.512,city_development_index_0.516,city_development_index_0.518,...,company_size_less than10,company_type_Early Stage Startup,company_type_Funded Startup,company_type_NGO,company_type_Other,company_type_Public Sector,company_type_Pvt Ltd,training_hours_Between,training_hours_Less,training_hours_More
0,21,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,15,5,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,5,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,21,4,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,11,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18377,14,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
18378,14,4,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
18379,21,4,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
18380,0,2,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
18381,2,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

# Split the Data into Training and Testing

In [11]:
# Define features set
X = df_HR1.copy()
X = X.drop("target", axis=1)
X.head()

,experience,last_new_job,city_development_index_0.448,city_development_index_0.479,city_development_index_0.487,city_development_index_0.493,city_development_index_0.512,city_development_index_0.516,city_development_index_0.518,city_development_index_0.527,...,company_size_less than10,company_type_Early Stage Startup,company_type_Funded Startup,company_type_NGO,company_type_Other,company_type_Public Sector,company_type_Pvt Ltd,training_hours_Between,training_hours_Less,training_hours_More
0,21,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,15,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,5,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,21,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,11,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [12]:
# Define target vector
y = df_HR1["target"].values.reshape(-1, 1)
y[:5]

array([[1],
       [0],
       [0],
       [0],
       [1]], dtype=int64)

In [13]:
# Splitting into Train and Test sets

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(13786, 128)

In [14]:

# Creating StandardScaler instance
scaler = StandardScaler()

# Fitting Standard Scaler
X_scaler = scaler.fit(X_train)

# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Gradient Boosted Tree

In [15]:
from sklearn.ensemble import GradientBoostingClassifier

# Create a classifier object
learning_rates = [0.05, 0.1, 0.25, 0.5, 0.75, 1]
for learning_rate in learning_rates:
    classifier = GradientBoostingClassifier(n_estimators=20,
                                            learning_rate=learning_rate,
                                            max_features=5,
                                            max_depth=3,
                                            random_state=0)

    # Fit the model
    classifier.fit(X_train_scaled, y_train)
    print("Learning rate: ", learning_rate)

    # Score the model
    print("Accuracy score (training): {0:.3f}".format(
        classifier.score(
            X_train_scaled,
            y_train)))
    print("Accuracy score (validation): {0:.3f}".format(
        classifier.score(
            X_test_scaled,
            y_test)))
    print()

Learning rate:  0.05
Accuracy score (training): 0.754
Accuracy score (validation): 0.755

Learning rate:  0.1
Accuracy score (training): 0.754
Accuracy score (validation): 0.755

Learning rate:  0.25
Accuracy score (training): 0.766
Accuracy score (validation): 0.765

Learning rate:  0.5
Accuracy score (training): 0.781
Accuracy score (validation): 0.782

Learning rate:  0.75
Accuracy score (training): 0.784
Accuracy score (validation): 0.781

Learning rate:  1
Accuracy score (training): 0.782
Accuracy score (validation): 0.777

In [16]:
# Choose a learning rate and create classifier
classifier = GradientBoostingClassifier(n_estimators=20,
                                        learning_rate=0.5,
                                        max_features=5,
                                        max_depth=3,
                                        random_state=0)

# Fit the model
classifier.fit(X_train_scaled, y_train)

# Make Prediction
predictions = classifier.predict(X_test_scaled)
pd.DataFrame({"Prediction": predictions, "Actual": y_test.flatten()}).head(100)

    Prediction  Actual
0            0       0
1            0       0
2            0       0
3            0       0
4            0       0
..         ...     ...
95           1       1
96           0       0
97           0       0
98           0       0
99           0       0

[100 rows x 2 columns]

In [17]:
# Calculating the accuracy score
acc_score = accuracy_score(y_test.flatten(), predictions)
print(f"Accuracy Score : {acc_score}")

Accuracy Score : 0.7824194952132288

In [18]:
# Generate the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"],
    columns=["Predicted 0", "Predicted 1"]
)

# Displaying results
display(cm_df)

          Predicted 0  Predicted 1
Actual 0         3255          213
Actual 1          787          341

In [19]:
# Displaying results
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.81      0.94      0.87      3468
           1       0.62      0.30      0.41      1128

    accuracy                           0.78      4596
   macro avg       0.71      0.62      0.64      4596
weighted avg       0.76      0.78      0.75      4596

In [20]:
Predictions = pd.DataFrame({"Prediction": predictions})

In [21]:
results = pd.concat([df_HR, Predictions], axis=1)

In [22]:
results

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target,Prediction
0,8949,city_103,0.92,Male,Has relevent experience,no_enrollment,Graduate,STEM,21,50to99,Pvt Ltd,1,More,1,0.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50to99,Pvt Ltd,5,Between,0,0.0
2,11561,city_21,0.624,Other,No relevent experience,Full time course,Graduate,STEM,5,50to99,Pvt Ltd,0,Less,0,0.0
3,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,21,50to99,Funded Startup,4,More,0,0.0
4,21651,city_176,0.764,Other,Has relevent experience,Part time course,Graduate,STEM,11,50to99,Pvt Ltd,1,More,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18377,7386,city_173,0.878,Male,No relevent experience,no_enrollment,Graduate,Humanities,14,50to99,Pvt Ltd,1,More,1,NaN
18378,31398,city_103,0.92,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,50to99,Pvt Ltd,4,Between,1,NaN
18379,24576,city_103,0.92,Male,Has relevent experience,no_enrollment,Graduate,STEM,21,50to99,Pvt Ltd,4,More,0,NaN
18380,5756,city_65,0.802,Male,Has relevent experience,no_enrollment,High School,STEM,0,500to999,Pvt Ltd,2,Less,0,NaN
18381,23834,city_67,0.855,Other,No relevent experience,no_enrollment,Primary School,STEM,2,50to99,Pvt Ltd,1,Less,0,NaN

In [23]:
results.dropna(inplace=True)

In [24]:
results

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target,Prediction
0,8949,city_103,0.92,Male,Has relevent experience,no_enrollment,Graduate,STEM,21,50to99,Pvt Ltd,1,More,1,0.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50to99,Pvt Ltd,5,Between,0,0.0
2,11561,city_21,0.624,Other,No relevent experience,Full time course,Graduate,STEM,5,50to99,Pvt Ltd,0,Less,0,0.0
3,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,21,50to99,Funded Startup,4,More,0,0.0
4,21651,city_176,0.764,Other,Has relevent experience,Part time course,Graduate,STEM,11,50to99,Pvt Ltd,1,More,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4591,2256,city_76,0.698,Male,Has relevent experience,no_enrollment,Graduate,STEM,7,10000plus,Pvt Ltd,0,Less,0,0.0
4592,27901,city_103,0.92,Male,Has relevent experience,no_enrollment,Graduate,STEM,21,5000to9999,Pvt Ltd,1,More,0,0.0
4593,14078,city_103,0.92,Male,Has relevent experience,no_enrollment,Phd,STEM,21,10000plus,Public Sector,2,Between,0,0.0
4594,7271,city_142,0.727,Other,Has relevent experience,no_enrollment,Masters,STEM,7,50to99,Pvt Ltd,3,Less,0,0.0
4595,10942,city_48,0.493,Other,No relevent experience,Part time course,Graduate,STEM,0,50to99,Pvt Ltd,1,Less,1,0.0

In [25]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\jmoussavou\anaconda3\envs\mlenv\lib\site-packages (2.9.3)
Note: you may need to restart the kernel to use updated packages.

In [26]:
engine = create_engine('postgresql://postgres:Lebezzer#1989!@localhost:5432/Job Changes')
results.to_sql('Results', engine)